{% extends 'base.html' %}

{% block body %}
<div class="auth_content">
    <div class="logo-auth">WatchList</div>
    <div class="form_body">
        <form action="/submit_signup" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd" required>
            <br>
            <button type="submit">Submit</button>
        </form>
        <p class="switch-auth">
            Already have an account? <a href="{{ url_for('auth.login') }}">Login</a>
        </p>
    </div>
</div>
{% endblock %}